# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fn9o25.mongodb.net/?retryWrites=true&w=majority

# Voyage AI
VOYAGE_AI_API_KEY=al-DJMWG-VWDlatVhrwPAUKOCqpC5VtXbd4hUpn_1Buo93

# Server
HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:3000

# Risk Weights
WEIGHT_DOMAIN_AGE=0.15
WEIGHT_SSL=0.15
WEIGHT_ENTROPY=0.15
WEIGHT_DNS=0.15
WEIGHT_HOSTING=0.15
WEIGHT_VECTOR_SIMILARITY=0.25

# Search
ATLAS_SEARCH_INDEX=url_search_index
VECTOR_SEARCH_INDEX=url_vector_index
